[run]
source = .
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */admin.py
    */apps.py
    */urls.py
    manage.py
    zapchast_kg/wsgi.py
    zapchast_kg/asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    except ImportError:
    def setUp
    def tearDown

[html]
directory = htmlcov